<ion-header>
  <ion-toolbar color="warning">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="imageURL">
  
  <ion-item>
    <ion-label text-wrap>{{ decsription }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><b>Début:</b> {{ start }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><b>Fin:</b> {{ end }}</ion-label>
  </ion-item>

</ion-content>
